@import url(./kaigi_siryo.css);

@page {
    size: A4 portrait;
    margin:10mm;
    @bottom-center{
    content:'';
    }
}

* {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
}
@media print{
body>h1{
    margin:5mm 0 0;
}
body>h2{
    margin:0.2em 0;
    text-align: center;
}
}
p {
    text-indent: 0
}
div.header{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:center
    }
.header h2{
    grid-column:2;
    margin:0 0 0.5em;
    padding:0
}
.header p.note{
    grid-column:3;
    justify-self:end;
    margin:0 0 0.5em;
    padding:0
}

.leading{
    display:block;
    margin:1em 0;
    & p{
        text-indent:1em !important;
    }
}
.program {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.day1,
.day2 {
    border: solid 2px black;
    padding: 0 5px;

    & h2 {
    margin: 0.5em 0 0
    }

    & h3 {
    border-top: solid 1px black;
    margin: 0;
    padding: 0.2em 0;
    font-weight: bold;
    }
    & h3:first-child{
    border-top: 2px;
    }

    & h4 {
    margin: 0.2em 0
    }
    & p{
    margin-bottom: 0.2em;
    }
    & o1,ul{
    margin-bottom:0.2em;
    }
}

.dashed {
    border-bottom: dashed 1px grey;
}
.right {
    text-align: right;
}