@import url(./kaigi_siryo.css);

@page {
    size: A3 landscape;
    margin:0mm;
    @bottom-center{
    content:'';
    }
}

* {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
}
@media print{
body>h1{
    margin:5mm 0 0;
    padding:0;
}
body>h2{
    margin:0.1em 0;
    text-align: center;
}
}
p {
    text-indent: 0
}
p.update-date{
    margin: bottom 0;
}
div.header{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:center
    }
.header h2{
    grid-column:2;
    margin:0 0 0.3em;
    padding:0
}
.header p.note{
    grid-column:3;
    justify-self:end;
    margin:0 0 0.3em;
    padding:0
}
.program {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}
.leading{
    display:none;
}
.day1,
.day2 {
    border: solid 2px black;
    padding: 0 5px;

    & h2 {
    margin: 0.5em 0 0
    }

    & h3 {
    border-top: solid 1px black;
    margin: 0;
    padding: 0.2em 0;
    font-weight: bold;
    font-size:11pt;
    }
    & h3:first-child{
    border-top: 2px;
    }

    & h4 {
    margin: 0.2em 0 0.1em
    }
    & p, li{
    font-size:10.5pt;
    margin-bottom: 0.1em;
    line-height: 1.1em;
    }
    & o1,ul{
    margin-bottom:0.1em;
    padding-left: 1em;
    }
}

.day2 {
    border-left: none;
    h4 {
        margin: 0.1em 0 0.1em
        }
    li{
        margin: bottom 0;
    }
}

.dashed {
    border-bottom: dashed 1px grey;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
.right {
    text-align: right;
}